header
{
	display:flex;
	flex-direction: column;
	/* justify-content: space-between; */
	/* align-items:flex-end; */
    border: 2px solid;
}
header li
{
	display:flex;
	margin-right: 15px;
    
	/* 	flex-direction: row; */
	/* justify-content: space-between; */
	
}

.logo_choix{
    display:flex;
    background-color:rgb(198, 205, 211);
  
}

.logo_choix ul {
    display:flex;
    justify-content:space-around;

}
.cherche_choix{
    display:flex;
    justify-content:space-around;
    /* align-items: center ; */
    background-color:navy;
  
}
.cherche_choix ul{
    display:flex;margin:0px 2px 0px 2px ;color: linen;
}

main section{
    display:flex;
    border: 2px solid;
    justify-content:center;
    margin: 1px 0px 1px 0px ;
}

.choix_prix_marche div ul{
    list-style-type: none;
    display:flex;
    
    
    margin: 0px 2px 0px 2px;
    
}

footer section{
    display:flex;
    flex-direction: column;
}
.liens_pratiques{
    display:flex; 
    color: azure;
    background-color:navy;
   
}
.liens_generaux{
    background-color:rgb(198, 205, 211);
    display:flex; 
}
.liens_generaux ul{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.legal{
    background-color:navy;
    align-items: center;
    color: azure;
}